/* src/components/columnPanels/socialLinksComponent/SocialLinks.css */

.social-links-panel {
    min-height: 0;
}

.social-links-badge-grid {
    min-height: 0;
    line-height: 0;
}

.social-link-anchor {
    line-height: 0;
}

.badge-hidden {
    display: none;
}

.badge-img-hidden {
    display: none;
}

.social-placeholder-title {
    height: 2.25rem;
    display: block;
    opacity: 0.15;
}

.social-placeholder-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    opacity: 0.15;
}

@media (max-width: 1400px) {
    .social-placeholder-icon:nth-child(n + 4) {
        display: none;
    }
}